---
- name: Get current revision
  shell: |
    {{ bin_dir }}/etcdctl \
      --endpoints={{ etcd_clusters[etcd_cluster_name].etcd_access_addresses }} \
      --cert={{ etcd_clusters[etcd_cluster_name].etcd_cert_paths.client.cert }} \
      --key={{ etcd_clusters[etcd_cluster_name].etcd_cert_paths.client.key }} \
      --cacert={{ etcd_clusters[etcd_cluster_name].etcd_cert_paths.client.ca }} \
      endpoint status -w json | jq -r '.[0].Status.header.revision'
  environment:
    ETCDCTL_API: "3"
  register: current_revision
  changed_when: false

- name: Compact database to current revision
  shell: |
    {{ bin_dir }}/etcdctl \
      --endpoints={{ etcd_clusters[etcd_cluster_name].etcd_access_addresses }} \
      --cert={{ etcd_clusters[etcd_cluster_name].etcd_cert_paths.client.cert }} \
      --key={{ etcd_clusters[etcd_cluster_name].etcd_cert_paths.client.key }} \
      --cacert={{ etcd_clusters[etcd_cluster_name].etcd_cert_paths.client.ca }} \
      compact {{ current_revision.stdout }}
  environment:
    ETCDCTL_API: "3"
  register: compact_result

- name: Display compact result
  debug:
    msg:
      - "Database compacted to revision {{ current_revision.stdout }}"
