---
- name: Get cluster status
  shell: |
    {{ bin_dir }}/etcdctl \
      --endpoints={{ etcd_clusters[etcd_cluster_name].etcd_access_addresses }} \
      --cert={{ etcd_clusters[etcd_cluster_name].etcd_cert_paths.client.cert }} \
      --key={{ etcd_clusters[etcd_cluster_name].etcd_cert_paths.client.key }} \
      --cacert={{ etcd_clusters[etcd_cluster_name].etcd_cert_paths.client.ca }} \
      endpoint status -w table
  environment:
    ETCDCTL_API: "3"
  register: cluster_status
  changed_when: false

- name: Display cluster status
  debug:
    var: cluster_status.stdout_lines
