---
- name: Checksum etcd binary
  stat:
    path: "{{ bin_dir }}/etcd"
  register: etcdbin

- name: Check that etcd is not a directory
  file:
    path: "{{ bin_dir }}/etcd"
    state: absent
  when:
    - etcdbin.stat.exists
    - etcdbin.stat.isdir

- name: install | Copy etcd and etcdctl binary from download dir
  copy:
    src: "{{ download_cache_dir }}/etcd-archive/etcd-{{ etcd_version }}-linux-amd64/{{item}}"
    dest: "{{ bin_dir }}/"
    mode: 0755
    remote_src: yes
  with_items:
    - etcd
    - etcdctl
    - etcdutl

- name: Checksum etcd binary
  stat:
    path: "{{ bin_dir }}/etcd"
    checksum_algorithm: sha256
    get_checksum: yes
  register: etcdbin

- name: Install etcdctl wrapper script (cluster-specific)
  template:
    src: etcdctl.sh.j2
    dest: "{{ bin_dir }}/etcdctl-{{ etcd_cluster_name }}.sh"
    mode: 0755
    owner: root
    group: root
  when: inventory_hostname in groups[etcd_cluster_group]

- import_tasks: 0010_cluster.yaml

- name: Create etcd profile.d script (cluster-specific)
  template:
    src: etcd-profile.sh.j2
    dest: /etc/profile.d/etcd-{{ etcd_cluster_name }}.sh
    mode: 0600
