---
# Service control role
# Supports: stop, start, restart
# Usage: Set service_action variable

- name: Stop etcd service (cluster-specific)
  systemd:
    name: "{{ etcd_clusters[etcd_cluster_name].etcd_name }}"
    state: stopped
  when: service_action == 'stop'

- name: Start etcd service (cluster-specific)
  systemd:
    name: "{{ etcd_clusters[etcd_cluster_name].etcd_name }}"
    state: started
  when: service_action == 'start'

- name: Restart etcd service (cluster-specific)
  systemd:
    name: "{{ etcd_clusters[etcd_cluster_name].etcd_name }}"
    state: restarted
  when: service_action == 'restart'
