---
etcd_cluster_group: etcd
etcd_clients_group: etcd-clients
etcd_certmanagers_group: etcd
etcd_all_hosts: "{{groups[etcd_cluster_group] + groups[etcd_clients_group] + groups[etcd_certmanagers_group] | unique}}"
etcd_clusters: {}
etcd_cluster_backup:
  directory: "{{etcd_home}}/backups/{{etcd_cluster_name}}"

etcd_action: none
etcd_ca_profiles: {'server': 'client', 'client': 'client', 'peer': 'peer'}
bin_dir: /opt/bin
etcd_config_dir: /etc/etcd
etcd_cert_dir: "{{ etcd_config_dir }}/ssl"
dns_domain: cluster.local
etcd_backup: yes

etcd_upload_backup:
  # storage: s3 or gcs
  storage: s3
  bucket:
  access_key:
  secret_key:
  region:
  s3_url:
  metadata:
    key: value

# etcd_backups:
#   defaults:
#     type: file
#     path: "{{etcd_backup_file}}"
#     host: "{{etcd[0]}}"
#   k8s:
#     url:
#   k8s-events:
#     object-storage:
#       storage: s3
#       bucket:
#       access_key:
#       secret_key:
#       region:
#       s3_url:
#       metadata:
#         key: value

################
## DOWNLOADS
################

etcd_cluster_name: default
etcd_ports:
  client: 2379
  peer: 2380

cfssl_version: 1.6.5


etcd_checksums:
  v3.5.13: "sha256:31e6fcbee0e8c3df27cf1ba69b522e338377f5ed6447f5d05700aee367f3b7e7"
  v3.5.26: "sha256:0a682a91201dc8351d507210bc30b021a11e254eab806f03224b51e8fad29abb"
  v3.6.7: "sha256:cf8af880c5a01ee5363cefa14a3e0cb7e5308dcf4ed17a6973099c9a7aee5a9a"
  

etcd_version: v3.5.26


etcd_download_url: "https://storage.googleapis.com/etcd/{{ etcd_version }}/etcd-{{ etcd_version }}-linux-amd64.tar.gz"

etcd_downloads:
  etcd:
    file: true
    enabled: true
    dest: "{{bin_dir}}/etcd-archive/etcd-{{ etcd_version }}-linux-amd64.tar.gz"
    sha256: "{{ etcd_checksums[etcd_version] | default(omit)}}"
    url: "{{ etcd_download_url }}"
    unarchive: true
    owner: "root"
    mode: "0755"
    groups:
      - "{{etcd_cluster_group}}"
  
etcd_certs_downloads:
  cfssl:
    file: true
    enabled: true
    dest: "{{bin_dir}}/cfssl"
    sha256: "sha256:ff4d3a1387ea3e1ee74f4bb8e5ffe9cbab5bee43c710333c206d14199543ebdf"
    url: "https://github.com/cloudflare/cfssl/releases/download/v{{cfssl_version}}/cfssl_{{cfssl_version}}_linux_amd64"
    owner: "root"
    mode: "0755"
    groups:
      - "{{etcd_certmanagers_group}}"
      - "{{etcd_cluster_group}}"

  cfssljson:
    file: true
    enabled: true
    sha256: "sha256:09fbcb7a3b3d6394936ea61eabff1e8a59a8ac3b528deeb14cf66cdbbe9a534f"
    dest: "{{bin_dir}}/cfssljson"
    url: "https://github.com/cloudflare/cfssl/releases/download/v{{cfssl_version}}/cfssljson_{{cfssl_version}}_linux_amd64"
    owner: "root"
    mode: "0755"
    groups:
      - "{{etcd_certmanagers_group}}"
      - "{{etcd_cluster_group}}"

  cfssl-certinfo:
    file: true
    enabled: true
    checksum: "sha256:ebe7cd2d6ad33930fa0db292312ef0acf8ec0e359bc73d4ed8ae7290bd47c955"
    dest: "{{bin_dir}}/cfssl-certinfo"
    url: "https://github.com/cloudflare/cfssl/releases/download/v{{cfssl_version}}/cfssl-certinfo_{{cfssl_version}}_linux_amd64"
    owner: "root"
    mode: "0755"
    groups:
      - "{{etcd_certmanagers_group}}"
      - "{{etcd_cluster_group}}"

###########
## CERTS
##########3
cert_expiry: 175200h


# Set to true to separate k8s events to a different etcd cluster
etcd_events_cluster_enabled: false


etcd_home: "/var/lib/etcd/"

etcd_cert_group: etcd
etcd_cert_user: etcd
# Note: This does not set up DNS entries. It simply adds the following DNS
# entries to the certificate
etcd_cert_alt_names:
  - "etcd.kube-system.svc.{{ dns_domain }}"
  - "etcd.kube-system.svc"
  - "etcd.kube-system"
  - "etcd"
etcd_cert_alt_ips: []

etcd_script_dir: "{{ bin_dir }}/etcd-scripts"

etcd_heartbeat_interval: 250
etcd_election_timeout: 5000

# etcd_snapshot_count: 10000

# Parameters for ionice
# -c takes an integer between 0 and 3 or one of the strings none, realtime, best-effort or idle.
# -n takes an integer between 0 (highest priority) and 7 (lowest priority)
# etcd_ionice: "-c2 -n0"

etcd_metrics: "extensive"

## A dictionary of extra environment variables to add to etcd.env, formatted like:
##  etcd_extra_vars:
##    ETCD_VAR1: "value1"
##    ETCD_VAR2: "value2"
etcd_extra_vars: {}

# etcd_quota_backend_bytes: "2G"

etcd_compaction_retention: "8"

# Force clients like etcdctl to use TLS certs (different than peer security)
etcd_secure_client: true

# Enable peer client cert authentication
etcd_peer_client_auth: true

etcd_user:
    name: etcd
    comment: "Etcd user"
    createhome: yes
    home: "{{ etcd_home }}"
    system: yes
    shell: /bin/nologin

etcd_cert_paths:
  server:
    cert: "{{ etcd_cert_dir }}/{{ inventory_hostname }}/{{inventory_hostname}}-server.pem"
    key: "{{ etcd_cert_dir }}/{{ inventory_hostname }}/{{inventory_hostname}}-server-key.pem"
    ca: "{{ etcd_cert_dir }}/{{ inventory_hostname }}/client-ca.pem"
  client:
    cert: "{{ etcd_cert_dir }}/{{ inventory_hostname }}/{{inventory_hostname}}-client.pem"
    key: "{{ etcd_cert_dir }}/{{ inventory_hostname }}/{{inventory_hostname}}-client-key.pem"
    ca: "{{ etcd_cert_dir }}/{{ inventory_hostname }}/client-ca.pem"
  peer:
    cert: "{{ etcd_cert_dir }}/{{ inventory_hostname }}/{{inventory_hostname}}-peer.pem"
    key: "{{ etcd_cert_dir }}/{{ inventory_hostname }}/{{inventory_hostname}}-peer-key.pem"
    ca: "{{ etcd_cert_dir }}/{{ inventory_hostname }}/peer-ca.pem"
