---
etcd_cluster_group: etcd
etcd_clients_group: etcd-clients
etcd_certmanagers_group: etcd
etcd_all_hosts: "{{groups[etcd_cluster_group] + groups[etcd_clients_group] + groups[etcd_certmanagers_group] | unique}}"
etcd_clusters: {}
etcd_cluster_backup:
  directory: "{{etcd_home}}/backups/{{etcd_cluster_name}}"

etcd_action: none
etcd_ca_profiles: {'server': 'client', 'client': 'client', 'peer': 'peer'}
bin_dir: /opt/bin
etcd_config_dir: /etc/etcd
etcd_cert_dir: "{{ etcd_config_dir }}/ssl"
dns_domain: cluster.local
etcd_backup: yes

etcd_upload_backup:
  # storage: s3 or gcs
  storage: s3
  bucket:
  access_key:
  secret_key:
  region:
  s3_url:
  metadata:
    key: value

# etcd_backups:
#   defaults:
#     type: file
#     path: "{{etcd_backup_file}}"
#     host: "{{etcd[0]}}"
#   k8s:
#     url:
#   k8s-events:
#     object-storage:
#       storage: s3
#       bucket:
#       access_key:
#       secret_key:
#       region:
#       s3_url:
#       metadata:
#         key: value

################
## DOWNLOADS
################

etcd_cluster_name: default
etcd_ports:
  client: 2379
  peer: 2380

cfssl_version: 1.6.5

# Smallstep versions and checksums
step_version: "0.25.2"
step_ca_version: "0.25.2"

step_checksums:
  "0.25.2": "sha256:ee82b99f431e006318cc6e284d9f8d91c0515dc6a0023dc87de3ab6b1c2a8b8d"

step_ca_checksums:
  "0.25.2": "sha256:c0b4a1b0fa1fdc88a8e08e27c45b7b4cf8e5e2d97ae0e7f9c33fc8aef0e85eba"

etcd_checksums:
  v3.5.13: "sha256:31e6fcbee0e8c3df27cf1ba69b522e338377f5ed6447f5d05700aee367f3b7e7"
  v3.5.26: "sha256:0a682a91201dc8351d507210bc30b021a11e254eab806f03224b51e8fad29abb"
  v3.6.7: "sha256:cf8af880c5a01ee5363cefa14a3e0cb7e5308dcf4ed17a6973099c9a7aee5a9a"
  

etcd_version: v3.5.26


etcd_download_url: "https://storage.googleapis.com/etcd/{{ etcd_version }}/etcd-{{ etcd_version }}-linux-amd64.tar.gz"

etcd_downloads:
  etcd:
    file: true
    enabled: true
    dest: "{{bin_dir}}/etcd-archive/etcd-{{ etcd_version }}-linux-amd64.tar.gz"
    sha256: "{{ etcd_checksums[etcd_version] | default(omit)}}"
    url: "{{ etcd_download_url }}"
    unarchive: true
    owner: "root"
    mode: "0755"
    groups:
      - "{{etcd_cluster_group}}"
  
###########
## CERTS
##########3
# Note: cert_expiry kept for backward compatibility but not used with Smallstep
# Smallstep uses step_cert_default_duration (2 years) defined in smallstep role
cert_expiry: 175200h


# Set to true to separate k8s events to a different etcd cluster
etcd_events_cluster_enabled: false


etcd_home: "/var/lib/etcd/"

# Note: This does not set up DNS entries. It simply adds the following DNS
# entries to the certificate
etcd_cert_alt_names:
  - "etcd.kube-system.svc.{{ dns_domain }}"
  - "etcd.kube-system.svc"
  - "etcd.kube-system"
  - "etcd"
etcd_cert_alt_ips: []

etcd_script_dir: "{{ bin_dir }}/etcd-scripts"

etcd_heartbeat_interval: 250
etcd_election_timeout: 5000

# etcd_snapshot_count: 10000

# Parameters for ionice
# -c takes an integer between 0 and 3 or one of the strings none, realtime, best-effort or idle.
# -n takes an integer between 0 (highest priority) and 7 (lowest priority)
# etcd_ionice: "-c2 -n0"

etcd_metrics: "extensive"

## A dictionary of extra environment variables to add to etcd.env, formatted like:
##  etcd_extra_vars:
##    ETCD_VAR1: "value1"
##    ETCD_VAR2: "value2"
etcd_extra_vars: {}

# etcd_quota_backend_bytes: "2G"

etcd_compaction_retention: "8"

# Force clients like etcdctl to use TLS certs (different than peer security)
etcd_secure_client: true

# Enable peer client cert authentication
etcd_peer_client_auth: true

etcd_user:
    name: etcd
    comment: "Etcd user"
    createhome: yes
    home: "{{ etcd_home }}"
    system: yes
    shell: /bin/nologin

# Systemd service tuning
etcd_systemd_timeout_start_sec: "60s"
etcd_systemd_restart_sec: "15s"
etcd_systemd_limit_nofile: 40000
# Optional performance tuning (undefined by default)
# etcd_systemd_nice_level: 0  # -20 (highest) to 19 (lowest)
# etcd_systemd_ionice_class: 2  # 0=none, 1=realtime, 2=best-effort, 3=idle
# etcd_systemd_ionice_priority: 0  # 0 (highest) to 7 (lowest)
# etcd_systemd_memory_limit: "2G"
# etcd_systemd_cpu_quota: "200%"  # Percentage of CPU (200% = 2 cores)

etcd_cert_paths:
  server:
    cert: "{{ etcd_cert_dir }}/{{ etcd_name }}-server.crt"
    key: "{{ etcd_cert_dir }}/{{ etcd_name }}-server.key"
    ca: "{{ etcd_cert_dir }}/client-ca.crt"
  client:
    cert: "{{ etcd_cert_dir }}/{{ etcd_name }}-client.crt"
    key: "{{ etcd_cert_dir }}/{{ etcd_name }}-client.key"
    ca: "{{ etcd_cert_dir }}/client-ca.crt"
  peer:
    cert: "{{ etcd_cert_dir }}/{{ etcd_name }}-peer.crt"
    key: "{{ etcd_cert_dir }}/{{ etcd_name }}-peer.key"
    ca: "{{ etcd_cert_dir }}/peer-ca.crt"
