[Unit]
Description=Renew {{ cert_name }} certificate
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
Environment=STEPPATH={{ etcd_cert_dir }}/.step
ExecStart={{ bin_dir }}/step ca renew --force {{ cert_path }} {{ key_path }} --ca-url={{ step_ca_url }} --root={{ etcd_cert_dir }}/root_ca.crt
{% if exec_start_post %}
ExecStartPost={{ exec_start_post }}
{% endif %}

[Install]
WantedBy=multi-user.target
