---
# Backup a cluster
- name: etcd3/backups
  import_role:
    name: etcd3/backups
    public: yes
  when:
    - inventory_hostname == groups[etcd_cluster_group|d('etcd')][0]
    - etcd_action | default('none') == "backup"
  tags:
    - etcd-backups

# install/upgrade a cluster
- import_role:
    name: etcd3/cluster/install
    public: yes
  when:
    - etcd_action | default('none') in ['upgrade', 'create', 'deploy']
  tags:
    - etcd
    - etcd-cluster

# Teardown a cluster
- name: etcd3/cluster/delete
  import_role:
    name: etcd3/cluster/delete
    public: yes
  when:
    - etcd_delete_cluster | default(false) | bool
  tags:
    - etcd-delete
