---
dependencies:
  - name: etcd3
  - name: etcd3/facts
  
  - name: adduser
    vars:
      user: "{{ etcd_user }}"
    when:
      - not (ansible_os_family in ['CoreOS', 'Container Linux by CoreOS'])
  
  - name: etcd3/download
    vars:
      downloads: "{{ etcd_downloads }}"
    tags:
      - download
      - download-step
  
  - name: etcd3/backups/cron
    vars:
      skip_initial_backup: true
    when: inventory_hostname in groups[etcd_cluster_group] or inventory_hostname in groups[etcd_certmanagers_group]
    tags:
      - backup-cron
