---
- name: Clean old local backups
  shell: |
    find /var/lib/etcd/backups -type f -mtime +30 -delete
    find /var/lib/etcd/backups -type d -empty -delete
  args:
    warn: false
  register: backup_cleanup

- name: Display cleanup result
  debug:
    msg: "Local backups older than 30 days cleaned"
