---
- name: Install boto3 and botocore in venv
  pip:
    name:
      - boto3
      - botocore
    virtualenv: "/opt/etcd-backup-venv"
    virtualenv_command: "/usr/bin/python3 -m venv"

- name: create S3 bucket
  vars:
    ansible_python_interpreter: /opt/etcd-backup-venv/bin/python
  aws_s3:
    bucket: "{{etcd_upload_backup.bucket}}"
    mode: create
    permission: private
    object: "{{etcd_cluster_name}}/{{ansible_date_time.year}}/{{ansible_date_time.month}}"
    access_key: "{{etcd_upload_backup.access_key}}"
    secret_key: "{{etcd_upload_backup.secret_key}}"
    region: "{{etcd_upload_backup.region|d(omit)}}"
    s3_url: "{{etcd_upload_backup.s3_url|d(omit)}}"
    metadata: "{{etcd_upload_backup.metadata|d(omit)}}"
  when:
    - etcd_upload_backup.storage == "s3" or  etcd_upload_backup.storage == "aws"

- name: uploads items
  vars:
    ansible_python_interpreter: /opt/etcd-backup-venv/bin/python
  aws_s3:
    bucket: "{{etcd_upload_backup.bucket}}"
    object: "{{item.object}}"
    src: "{{item.src}}"
    mode: put
    permission: []
    access_key: "{{etcd_upload_backup.access_key}}"
    secret_key: "{{etcd_upload_backup.secret_key}}"
    region: "{{etcd_upload_backup.region|d(omit)}}"
    s3_url: "{{etcd_upload_backup.s3_url|d(omit)}}"
    metadata: "{{etcd_upload_backup.metadata|d(omit)}}"
    encrypt: "{{etcd_upload_backup.encrypt|d(true)}}"
  when:
    - etcd_upload_backup.storage == "s3" or  etcd_upload_backup.storage == "aws"
  loop:
    - object: "{{etcd_upload_backup.prefix|d('')}}{{etcd_cluster_name}}/{{ansible_date_time.year}}/{{ansible_date_time.month}}/{{etcd_backup_file | basename}}"
      src: "{{etcd_backup_file}}"
