---
# Replicate CA keys to backup cert-manager nodes
# Usage: ansible-playbook -i inventory.ini playbooks/replicate-ca.yaml

- name: Replicate step-ca CA keys to backup nodes
  hosts: etcd-cert-managers
  gather_facts: no
  roles:
    - role: etcd3/certs/replicate
