---
dependencies:
  - name: etcd3
    tags:
      - always

  - name: adduser
    vars:
      user: "{{ etcd_user }}"
    when:
      - not (ansible_os_family in ['CoreOS', 'Container Linux by CoreOS'])

  - name: etcd3/facts
    tags:
      - always

  - name: etcd3/certs/smallstep
    tags:
      - etcd-certs
      - step-ca

  - name: etcd3/download
    vars:
      downloads: "{{ etcd_downloads }}"
    tags:
      - download
