# Environment file for etcd {{ etcd_version }}

ETCD_INITIAL_CLUSTER_STATE=new

ETCD_METRICS={{ etcd_metrics }}

ETCD_PROXY=off

ETCD_AUTO_COMPACTION_RETENTION={{ etcd_compaction_retention }}
{% if etcd_snapshot_count is defined %}
ETCD_SNAPSHOT_COUNT={{ etcd_snapshot_count }} # etcd,event
{% endif %}
{% if etcd_quota_backend_bytes is defined %}
ETCD_QUOTA_BACKEND_BYTES={{ etcd_quota_backend_bytes }}
{% endif %}

# TLS settings
ETCD_TRUSTED_CA_FILE={{ etcd_cert_dir }}/{{inventory_hostname}}/client-ca.pem
ETCD_CERT_FILE={{ etcd_cert_dir }}/{{inventory_hostname}}/{{ inventory_hostname }}-server.pem
ETCD_KEY_FILE={{ etcd_cert_dir }}/{{inventory_hostname}}/{{ inventory_hostname }}-server-key.pem
ETCD_CLIENT_CERT_AUTH={{ etcd_secure_client | lower}}

ETCD_PEER_TRUSTED_CA_FILE={{ etcd_cert_dir }}/{{inventory_hostname}}/peer-ca.pem
ETCD_PEER_CERT_FILE={{ etcd_cert_dir }}/{{inventory_hostname}}/{{ inventory_hostname }}-peer.pem
ETCD_PEER_KEY_FILE={{ etcd_cert_dir }}/{{inventory_hostname}}/{{ inventory_hostname }}-peer-key.pem
ETCD_PEER_CLIENT_CERT_AUTH={{ etcd_peer_client_auth | lower }}

{% for key, value in etcd_extra_vars.items() %}
{{ key }}={{ value }} # etcd, event
{% endfor %}

{% if ansible_architecture == "aarch64" -%}
ETCD_UNSUPPORTED_ARCH=arm64
{%- endif %}
